:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #dddddd;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  background: linear-gradient(90deg, #ff008c, #ffcd1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

button {
  width: 100%;
  margin-right: 1rem;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #f6f8fa;
}

button:disabled {
  background-color: #f6f8fa;
  cursor: not-allowed;
  opacity: 0.5;
}

button:active {
  transform: scale(0.80);
}

pre {
  font-family: monospace;
  font-size: 1rem;
  background-color: #f6f8fa;
  padding: 0.5rem;
  border-radius: 0.25rem;
  height: 12rem;
}